
.roc{
    margin: 0;
    padding: 0;
    width: 50%;
    max-width: 800px;
    position: relative;
    top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roc h1{
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding: 0;
    text-align: center;
}
.roc p{
    color:  rgb(98, 98, 125);
    font-weight: 20;
    font-size: 22px;
    padding: 0;
    padding-bottom: 120px;
    text-align: center;
}

.roc a{
    text-decoration: none;
    border: 1.8px solid #0056B3 ;
    font-size: 20px;
    font-weight: 400;
    color: #0056B3;
    padding: 20px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    max-width: 250px;
    margin-top: 0;
    transition: all 0.5s ease;
}

.roc a:hover{
    background-color: #0056B3;
    color: white;
    box-shadow: 0 8px 150px rgba(0, 0, 0, 0.3);
}

@media(max-width:1500px){
    .roc{
        width: 80%;
    }
   .roc a{
     left: 34%;
   }
}

